@model AnimAlerte.Models.Utilisateur
@{
    ViewData["Title"] = "Login";
}
@*
<p>
    Animalerte permet aux propriétaires d’animaux de diffuser auprès de milliers de personnes des avis de recherche pour leurs compagnons disparus. Si vous trouvez un animal perdu, vous pouvez aussi créer une annonce afin de trouver son propriétaire.

    Animalerte est le site le plus fiable au Canada, vous pouvez enregistrer vos animaux afin de créer facilement et rapidement une annonce en cas de perte de votre compagnon. Une liste de contact favori vous permet de les contacter rapidement.
</p>*@
<img src="~/images/logo.png" />
<h1>Connexion</h1>
<p class="alert-danger">@ViewBag.Message</p>
<form action="/Utilisateurs/Login" method="post">
   
    <div class="mb-3">
        <label for="nomuser" class="form-label">Nom Utilisateur</label>
        <input type="text" class="form-control" id="nomuser" name="nomuser" />
    </div>
    <div class="mb-3">
        <label for="mdp" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="mdp" name="mdp">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <p>Vous n'avez pas de compte? <a href="/Utilisateurs/Create">S'enregistrer</a></p>
</form>