@model AnimAlerte.Models.Utilisateur
@{
    ViewData["Title"] = "Se connecter";
}


@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimAlerte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Utilisateurs" asp-action="Login">AnimAlerte</a>
                @*<div class="navbar-nav flex-grow-1 justify-content-end">
                    <a class="nav-link active" asp-area="" asp-controller="Utilisateurs" asp-action="Create">S'enregistrer</a>
                    <a class="nav-link active " asp-area="" asp-controller="Utilisateurs" asp-action="Login">Se Connecter</a>
                </div>*@
            </div>
        </nav>
    </header>


    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="~/images/logo.png" style="width: 150px;" alt="logo" />
                                    </div>

                                    <p class="alert-success">@ViewBag.Message</p>
                                    <form action="/Utilisateurs/Login" method="post">
                                        <h4 class="mt-1 mb-5 pb-1">Connexion à votre compte</h4>

                                        <div class="form-outline mb-4">
                                            <input type="text" class="form-control" id="nomuser" name="nomuser" placeholder="Nom utilisateur" />
                                            <label for="nomuser" class="form-label"></label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Mot de passe">
                                            <label for="mdp" class="form-label"></label>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Se connecter</button>
                                        </div>
                                        <p class="text-center text-muted mt-5 mb-0">Vous n'avez pas de compte? <a href="/Utilisateurs/Create" class="fw-bold text-body"> S'enregistrer! </a></p>
                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white
                                     px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-5">Bievenue sur le site AnimAlerte!</h4>
                                    <p class="mb-2">
                                        Animalerte permet aux propriétaires d’animaux de diffuser auprès de milliers de personnes des avis de recherche pour leurs compagnons disparus. Si vous trouvez un animal perdu, vous pouvez aussi créer une annonce afin de trouver son propriétaire.
                                    </p>
                                    <br />
                                    <p class="mb-2">
                                        Animalerte est le site le plus fiable au Canada, vous pouvez enregistrer vos animaux afin de créer facilement et rapidement une annonce en cas de perte de votre compagnon. Une liste de contact favori vous permet de les contacter rapidement.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - AnimAlerte<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>



